<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[상품등록]</title>
	<link rel = "stylesheet" href = "/css/inputItem_style2.css">
	<link rel = "stylesheet" href = "/css/style.css">
<style>

	#change {color:black;}
	#change option{ color:black; }
	
</style>
</head>
<body>

<div id="wrap">
		<!-- 헤더 부분 -->
	    <header id = "header" class = "clearfix">
	    	<!-- 로고 부분 -->
	        <a th:href = "@{/}" >
	        	<span id = "logo"></span>
	        </a>
	        <!-- 헤더 윗 부분(로그인, 회원가입) -->
	        <div class = "util">
	        	
	        	<!-- 인증되지 않은 사용자의 경우(비로그인 상태) -->
	        	<p sec:authorize = "not isAuthenticated()"><a th:href = "@{/member/join}">회원가입</a></p>
	        	<p sec:authorize = "not isAuthenticated()"><a th:href = "@{/member/login}">로그인</a></p>
	        	
	        	<!-- 인증된 사용자(로그인 상태) -->
	        	<!-- WebSecurityConfig에 이미 logout에 대한 것을 정의해둠. 따라서 html을 따로 만들어주지 않아도 됨 -->
	        	<p sec:authorize = "isAuthenticated()"><a th:href = "@{/member/update}">정보수정</a></p>
	        	<p sec:authorize = "isAuthenticated()"><a th:href = "@{/logout}">로그아웃</a></p>
	        	
	        	<!-- 관리자(ADMIN) 계정만 접근가능 -->
	        	<p sec:authorize = "hasRole('ADMIN')"><a th:href = "@{/manager}">관리자</a></p>
	        	
	        	<!-- 인증된 사용자의 이름(username) -->
	        	<p id = "welcomeMsg" sec:authorize = "isAuthenticated()"><span sec:authentication = "name"></span> 님 환영합니다!</p>
	        	
	        </div>
	        <!-- 메뉴 네비게이션 -->
	        <nav class="nav">
	            <ul>
	                <li><a th:href="@{/product/menu}">메뉴</a>
	                    <ul class="submenu">
	                        <li><a th:href="|@{/product/menu}?category=1|">단품메뉴</a></li>
	                        <li><a th:href="|@{/product/menu}?category=2|">세트메뉴</a></li>
	                        <li><a th:href="|@{/product/menu}?category=3|">사이드</a></li>
	                        <li><a th:href="|@{/product/menu}?category=4|">음료&디저트</a></li>
	                    </ul>
	                </li>
	                <li><a th:href="@{/item/buyItem}">주문하기</a>
	                    <ul class="submenu">
	                        <li><a th:href="@{/item/buyItem}">배달</a></li>
	                        <li><a th:href="@{/findStore}">매장찾기</a></li>
	                    </ul>
	                </li>
	                <li><a th:href="@{/notice/brandInfo}">브랜드</a>
	                    <ul class="submenu">
	                        <li><a th:href="@{/notice/brandInfo}">최고영소개</a></li>
	                        <li><a th:href="@{/notice/list}">공지사항</a></li>
	                        <li><a th:href="@{/notice/event}">이벤트</a></li>
	                    </ul>
	                </li>
	                <li><a th:href="@{/myPage}">마이페이지</a>
	                    <ul class="submenu">
	                        <li><a th:href="@{/member/update}">회원정보수정</a></li>
	                        <li><a th:href="@{/item/orderItem}">장바구니</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </nav>
	    </header>
	    <!-- //header 끝 -->
	    
	     <section id = "contentsWrap" class = "clearfix">
	    	
	    	<!-- 페이지 위치 표시해주는 부분 -->
	    	<div class = "webLocation">
				<div class = "page_navi">
					<a th:href = "@{/}">
						<span>HOME</span>
					</a>
					<span>상품등록</span>
				</div>
	    	</div>
	    	
		<!-- 상품 등록을 위한 html -->
	    	<div class = "joinContainer">
				<div class = "joinTitle">
					<h2>상품등록</h2>
				</div>
				<div class = "joinContent">
					
					<!-- 서버에 보낼 링크랑 방식 적어야함 -->
					<form action="inputItem" method="POST">
					
						<!-- 상품등록 기본정보 -->
						<fieldset class = "requiredInfo">
							<legend>상품정보</legend>
								<!-- 상품 이름 -->
								
								<label for = "joinId">상품명</label><br>
								<div class = "joinIdWrap">
			        				<input type = "text" id = "joinId" placeholder = "상품명을 입력해주세요" name="itemName">
			        				<select id="change" onchange="selectBoxChange(this.value);">
			        					<option>선택</option>
			        					<option value="1">단품</option>
			        					<option value="2">세트</option>
			        					<option value="3">사이드</option>
			        					<option value="4">음료&디저트</option>
			        				</select>
			        				<input type="hidden" value="" id="hiddenNum" name="itemCategory">
			        			</div>
								
			        			
			        			<!-- 상품 가격 -->
			        			<label for = "joinName">상품가격</label>
			        			<input type = "text" id = "joinName" placeholder = "상품가격을 입력해주세요." name="itemPrice">
			        			
			        			<!-- 상품 이미지 -->
			        			<label for = "joinPhone">상품이미지</label>
			        			<input type="text" name="itemImage" placeholder="이미지 등록 양식 /images/burger1.jpg">
						</fieldset>
						
						<!-- 회원가입 선택정보 -->
						<fieldset class = "optionalInfo">
							<legend>상품설명</legend>
							
							
								<!-- 생년월일 -->
			        			<textarea id = "joinBirth" name="itemContent" placeholder = "상품설명을 입력해주세요"></textarea>
						</fieldset>
								
						
						<!-- 버튼 -->
						<fieldset class = "buttons">
							<legend>버튼</legend>
							<button type = "submit">등록하기</button>
							<button type = "reset">취소하기</button>
						</fieldset>
					</form>
				</div>
	        </div>
	    </section>
	    <!-- //section 끝 -->
		<!-- 푸터 부분 -->
	    <footer id="footer">
	        <div class="foot1">
	        	<!-- 로고 부분 -->
	        	<a th:href = "@{/}" >
	        		<span></span>
	        	</a>
			</div>
	        <div class="foot2">
	        	<p>광주 광산구 무진대로 282 광주무역회관 7층  전화주문 010-1111-2222<br>
				사업자 등록번호 123-45-67890 (주)CGY 대표이사 최세련, 고혜정, 류영훈<br>
				Copyright 2022 CGY Co., Ltd. All right Reserved</p>
			</div>
	        <div class="foot3">
	        	<p>이용약관</p>
	        	<p>개인정보취급방침</p>
	        	<p>법적고지</p>
	        	<a href = "http://www.facebook.com" target="_blank"><span id = "facebook"></span></a>
	        	<a href = "http://www.instagram.com" target="_blank"><span id = "insta"></span></a>
	        </div>
	    </footer>
	    <!-- //footer 끝 -->
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		$(".nav > ul > li").mouseenter(function() {
			$(".nav > ul > li > ul").stop().slideDown(200)
		});
		$(".nav > ul > li").mouseleave(function() {
			$(".nav > ul > li > ul").stop().slideUp(200)
		});
	</script>
<script>
	var selectBoxChange = function(value) {
		
		let va = document.getElementById("hiddenNum").value = value;
	}
</script>
</html>